.carousel-wrapper {
  overflow: hidden;
  /* border: 3px solid salmon; */
  width: 500px;
  height: 500px;
}
.carousel2 {
  display: flex;
  transition: transform 1s ease-out;
  width: 500px;
  height: 400px;
}
